<div class="row">
  {% set categ = __SELF__.categoria ? __SELF__.categoria : __SELF__.post.categoria %}
    {% if categ.parent or __SELF__.post %}
      <ol class="breadcrumb">
        {% for bread in categ.breadcrumbs() %}
          <li>
            <a href="{{bread.slug|app}}">
              {{bread.name}}
            </a>
          </li>
        {% endfor %}
        {% if __SELF__.categoria %}
          <li class="active">
            {{__SELF__.categoria.name}}
          </li>
        {% endif %}
        {% if __SELF__.post %}
          <li>
            <a href="{{__SELF__.post.categoria.slug|app}}">
              {{__SELF__.post.categoria.name}}
            </a>
          </li>
          <li class="active">
            {{__SELF__.post.name}}
          </li>
        {% endif %}
      </ol>
    {% endif %}
    {% if __SELF__.post %}
      <div id="{{__SELF__.id}}" class="component post-detalhes">
        <h2 class="titulo-card">{{__SELF__.post.name}}</h2>
        <h4 class="data-card">Postado em {{post.created_at|date('d/m/Y')}}</h4>
        <div class="card-texto">
          {{__SELF__.post.description|raw}}
        </div>
      </div>
      {% else %}
      <div id="{{__SELF__.id}}" class="component cards-categorias">
        {% if __SELF__.exibir_posts and __SELF__.posts %}
          <div class="cards">
            <div class="row">
              {% for post in __SELF__.posts %}
                <div class="card-container col-xs-12 col-sm-4 col-md-4 col-lg-4">
                  <div class="card">
                    {% if post.image %}
                      {% if post.show_link %}
                        <a class="link-card" href="{{post.slug|app}}">
                        {% endif %}
                        <img src="{{post.image.thumb(240, 180, 'crop')}}" alt="{{post.name}}" />
                        {% if post.show_link %}
                        </a>
                      {% endif %}
                    {% endif %}
                    <h3 class="card-titulo">
                      {% if post.show_link %}
                        <a class="link-card" href="{{post.slug|app}}">
                        {% endif %}
                        {{post.name}}
                        {% if post.show_link %}
                        </a>
                      {% endif %}
                    </h3>
                    {% if mostrar_data %}
                      <small class="card-data">{{post.created_at|date('d/m/Y')}}</small>
                    {% endif %}
                    <div class="card-text">
                      {{post.description|raw}}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div>
            {% if __SELF__.pagination > 1 %}
              <ul class="pagination">
                {% for page in 1..(__SELF__.pagination) %}
                  <li {{page == curr_page ? 'class="active"'}}><a href="{{current_url}}?page={{page}}">{{page}}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% endif %}
        {% if __SELF__.exibir_subcategorias and __SELF__.categorias|length %}
          <h2 class="titulo-categorias">Categorias</h2>
          <div class="categorias">
            {% for categoria in __SELF__.categorias %}
              <div class="categoria col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <div class="row">
                  {% if categoria.image %}
                    <a class="link-categoria" href="{{categoria.slug|app}}">
                      <img src="{{categoria.image.thumb(180, 120, 'crop')}}" alt="{{categoria.name}}" />
                    </a>
                  {% endif %}
                  <h3 class="categoria-titulo">
                    <a href="{{categoria.slug|app}}">
                      {{categoria.name}}
                    </a>
                  </h3>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
  {% put scripts %}
  <script type="text/javascript">
    $(document).ready(function(){
      height = 0;
      $('.card-container').each(function(){
        var h = $(this).height();
        if(height < h){
          height = h;
        }
      });
      $('.card-container').height(height);
    });
  </script>
  {% endput %}