 <div data-wow-delay="2s" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 side-right wow bounceInRight">
  <div class="carousel-servicos">
    <ul class="servicos-carousel">
      {% for servico in servicos %}
      <li>
        <h3 class="title uc">{{servico.titulo}}</h3>
        <p>{{servico.introducao|raw}}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="servicos-navigation">
    <div class="servicos-nav">
      <div class="nav-left glyphicon glyphicon-chevron-left"></div>
      <div class="nav-right glyphicon glyphicon-chevron-right"></div>
    </div>
  </div>
</div>
<p>This is the default markup for component Carousel</p>

<small>You can delete this file if you want</small>