.posts img{
  max-width: 100%;
}
h2.titulo-post{
  margin: 0;
}
h4.data-post{
  margin: 0;
}
.post{
  display: block;
  overflow: hidden;
}
.link-post img{
  max-width: 100%;
}
.post + .post{
  margin-top:20px;
  padding-top:20px;
  border-top: 1px solid #e6e6e6;
}
.posts .post-titulo{
  margin: 0;
  color: #222;
}
.posts .post-titulo a{
  color: #222;
}
.post-imagem{
  vertical-align: text-top;
  float: left;
  margin-right: 20px;
  max-width: 100%;
}
.breadcrumb{
  list-style: none;
  padding: 10px 15px;
  background: #e6e6e6;
}
.breadcrumb li{
  display: inline-block;
}
.breadcrumb li + li:before{
  content: ' > ';
}

/* ---- CARDS ---- */
.card-container {
  padding-bottom: 30px;
}
.card-container img{
  width: 100%;
}