<div data-control="toolbar">
    <a
        href="<?= Backend::url('everaldoreis/posts/categorias/create') ?>"
        class="btn btn-primary oc-icon-plus">
        Novo Categoria
    </a>
        <button
            class="btn btn-default oc-icon-trash-o"
            disabled="disabled"
            onclick="$(this).data('request-data', {
                checked: $('.control-list').listWidget('getChecked')
            })"
            data-request="onDelete"
            data-request-confirm="Realmente deseja deletar este item?"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', false)"
            data-stripe-load-indicator>
            Deletar
        </button>
        <?php if($this->sortable){ ?>
            <button
                id="updatePosition"
                class="btn btn-reorder oc-icon-list-ol"
                disabled="disabled"
                onclick="$(this).data('request-data', {
                    checked: $('tbody .checkbox input').map(function(){  return $(this).val() }).get()
                })"
                data-request-success="initializeSorting();"
                data-request="onUpdatePosition"
                data-stripe-load-indicator>
                Atualizar Ordem
            </button>
        <?php } ?>
</div>