<div class="row">
  {% set categ = __SELF__.categoria ? __SELF__.categoria : __SELF__.post.categoria %}
    {% if categ.parent %}
      <ol class="breadcrumb">
        {% for bread in categ.breadcrumbs() %}
          <li>
            <a href="{{bread.slug|app}}">
              {{bread.name}}
            </a>
          </li>
        {% endfor %}
        {% if __SELF__.categoria %}
          <li class="active">
            {{__SELF__.categoria.name}}
          </li>
        {% endif %}
        {% if __SELF__.post %}
          <li>
            <a href="{{__SELF__.post.categoria.slug|app}}">
              {{__SELF__.post.categoria.name}}
            </a>
          </li>
          <li class="active">
            {{__SELF__.post.name}}
          </li>
        {% endif %}
      </ol>
    {% endif %}
    {% if __SELF__.post %}
      <div id="{{__SELF__.id}}" class="component post-detalhes">
        <h2 class="titulo-post">{{__SELF__.post.name}}</h2>
        <h4 class="data-post">Postado em {{post.created_at|date('d/m/Y')}}</h4>
        <div class="post-texto">
          {{__SELF__.post.description|raw}}
        </div>
      </div>
      {% else %}
      <div id="{{__SELF__.id}}" class="component posts-categorias">
        {% if __SELF__.exibir_posts and __SELF__.posts %}
          <h1 class="titulo-posts">{{__SELF__.posts.pop().categoria.name}}</h1>
          <div class="posts">
            {% for post in __SELF__.posts %}
              <div class="post">
                <div class="row">
                  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    {% if post.image %}
                      <a class="link-post" href="{{post.slug|app}}">
                        <img src="{{post.image.thumb(240, 180, 'crop')}}" alt="{{post.name}}" />
                      </a>
                    {% endif %}
                  </div>
                  <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                    <h3 class="post-titulo">
                      <a class="link-post" href="{{post.slug|app}}">
                        {{post.name}}
                      </a>
                    </h3>
                    <small class="post-data">{{post.created_at|date('d/m/Y H\\hi')}}</small>
                    <div class="post-intro">
                      {{post.description[:400]|striptags ~ '...'}}
                      <a class="link-post" href="{{post.slug|app}}">
                        <span class="ver-mais">
                          Ver mais
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div>
            {% if __SELF__.pagination > 1 %}
              <ul class="pagination">
                {% for page in 1..(__SELF__.pagination) %}
                  <li {{page == curr_page ? 'class="active"'}}><a href="{{current_url}}?page={{page}}">{{page}}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% endif %}
        {% if __SELF__.exibir_subcategorias and __SELF__.categorias|length %}
          <h2 class="titulo-categorias">Categorias</h2>
          <div class="categorias">
            {% for categoria in __SELF__.categorias %}
              <div class="categoria col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <div class="row">
                  {% if categoria.image %}
                    <a class="link-categoria" href="{{categoria.slug|app}}">
                      <img src="{{categoria.image.thumb(180, 120, 'crop')}}" alt="{{categoria.name}}" />
                    </a>
                  {% endif %}
                  <h3 class="categoria-titulo">
                    <a href="{{categoria.slug|app}}">
                      {{categoria.name}}
                    </a>
                  </h3>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>